.idea/coursework.iml
.idea/workspace.xml
.idea/dictionaries/sea_fog.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules
План.docx
__pycache__/filesort.cpython-34.pyc
__pycache__/filesort.cpython-35.pyc
.idea/modules.xml
website/.idea/misc.xml
website/.idea/modules.xml
website/.idea/website.iml
website/.idea/workspace.xml

try.py

try.txt

mm.txt

delcomms.txt
