.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0px 15px;
  height: 80px;
  line-height: 100px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.navbar-t {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li { color: #000 }

.borderless td, .borderless tr {
    border: none;
}

body {
    padding: 0 20px;
}
header {
    background: lightblue;
    padding: 1em 0;
}

header h2 {font-size:1.2rem;margin:10px 0;}


.flag {
    width: 29px;
    height: 20px;
    display: inline-block;
    background: red;
}

@media (min-width:768px) {

    header h2 {font-size:1.3rem;margin:0;}

}


h1 {
    margin-left: 30%;
}